  $accent-color: #2196F3;
  $text-color: #757575;
  $white-color: #FFFFFF;
  $footer-bgcolor: #2F303A;
  $heading-color: #212121;
  $second-bgcolor: #F5F4FA;
  $socialsymbol-color: #AFB1B8;
  $buttonhover-color:#188CE8;